input {
    border: none;
    width: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color: var(--text-color);
    opacity: 50%;
}

.title {
    color: var(--title-color);
}

.search {

    border: 1px solid var(--text-color);
    border-radius: 5px;
    width: 40vw;
    padding: 1px;
}

.search:hover {
    border: 1px solid var(--background-color);
    box-shadow: 0px 0px 2px 1px var(--text-color);
}

.drop_btn {
    color: #fff;
    background-color: var(--button-background);
    padding: 2px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    width: calc(100vw / 8.65);
    max-width: 6.25rem;

}

.drops {
    top: 100%;
    width: 6.25rem;
}

.drops_ {
    background-color: #fff;
    color: var(--button-background);
    border: 1px solid var(--text-color);
    left: 1px;
    top: 33px;
    border-radius: 4px;
}

.drops_ div:hover {
    background-color: hsla(243, 100%, 69%, 0.2);
    color: var(--button-background);
}

.drop_btn::after {
    top: 49%;
    right: 12%;
    position: absolute;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


.theme_btn {
    background-color: var(--button-background);
    width: fit-content;
    border-radius: 3px;
}

.add {
    position: fixed;
    bottom: 10%;
    background-color: var(--button-background);
    width: fit-content;
    color: #fff;
    border-radius: 50%;
}

.theme_btn:hover,
.drop_btn:hover,
.add:hover {
    background-color: var(--button-hover-background);

}

/* Customize checkbox */

.checkbox_container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid var(--button-background);
}

.checkbox_container:hover input~.checkmark {
    border: 2px solid var(--background-color);
    box-shadow: 0px 0px 2px 1px var(--text-color);
}

.checkbox_container input:checked~.checkmark {
    background-color: var(--button-background);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked~.checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--button-text-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon_pen {
    color: var(--icon-pen);
}

.icon_trash {
    color: var(--icon-pen);
}

.hover_pen:hover {
    color: var(--button-background);
}

.icon_trash:hover {
    color: #E50000;
}

.line_br {
    border-bottom: 1px solid var(--text-color);
}

.todo-text {
    color: var(--todo-text-color);
}

.completed {
    text-decoration: line-through;
    opacity: 50%;
}